<div style="width: 500; margin: 30px;" >
<%= form_tag sessions_path do %>

  <% if flash[:alert] %>
    <p class="notice"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <div class = 'field' >
  	<%= label_tag :email %><br>
  	<%= text_field_tag :email, params[:email] %><br><br>
  </div>
  <div class = 'field' >
  	<%= label_tag :password %><br>
  	<%= password_field_tag :password, params[:password] %><br><br>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
</div>
