
<div style='width:500px; margin:10px auto; border: 3px solid #2b3b44; background: #f0ffcc;padding:20px' >

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <div class="actions">
  	<%= f.submit 'Change Name'%>
  </div>
<% end %>

</div>
<div style='width:540px; margin:10px auto; border: 3px solid #2b3b44; background: #f0ffcc; padding:0px' >
  <h3 style = 'width: 200px; margin: 10px auto; text-align:center'>
    <%= link_to 'Destroy Category', @category, :confirm => 'Are you sure?',
                                       :method => :delete %>
  </h3>
</div>

<% if @count > 0 %>
  <%= render 'del_pieces_form' %>
<% end %>

<div style='width:300px; margin:30px auto; border: 3px solid #2b3b44; background: #f0ffcc; padding:0px; clear:both;' >
  <h3 style = 'width: 200px; margin: 10px auto; text-align:center; color: #2b3b44'>

  <%= "Page #{@page_num}" %><br>
 

  <% if @page_num > 1 %>
    <%= link_to 'Previous', edit_category_path(@category, :page_num => @page_num - 1) %>
  <% end %>

  <% if @page_num < @count / @page_cap + 1 %>
    <%= link_to 'Next', edit_category_path(@category, :page_num => @page_num.next) %>
  <% end %>
</h3>
</div>


<%= render 'add_piece_form' %>

<h3 style='text-align: center;'>
  <%= link_to 'Back', @category %>
</h3>


